.App {
  margin: 0 auto;
  width: 900px;
}

.formSection {
  display: flex;
  flex-direction: column;
}

.formSection label {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .App {
    width: 100%;
  }
}

